<mat-toolbar class="header">
    <div class="left">
        <span class="logo-icon">HD</span>
        <span class="logo-text">Central de Ajuda</span>
        <mat-form-field appearance="outline" class="search">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Buscar ingressos..." />
        </mat-form-field>
    </div>
    <div class="right">

        <button mat-icon-button>
            <mat-icon>dark_mode</mat-icon>
        </button>

        <div class="user">
            <span class="user-name"> Bruno Henrique</span>
            <span class="avatar"> BH </span>
        </div>

    </div>

</mat-toolbar>