.header {
    width: 100%;
    height: 63px;
    display: flex;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #cecbcbff;
}



.left {
    margin-top: 20px;
}

.logo-icon {
    font-size: 16px;
    background-color: #2563eb;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

.logo-text {
    margin-right: 2em;
    font-size: 18px;
}

:host ::ng-deep .search.mat-mdc-form-field .mdc-text-field {
  height: 40px;
  width: 25em;
}

:host ::ng-deep .search.mat-mdc-form-field .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: unset;
}

:host ::ng-deep .search input.mat-mdc-input-element {
  font-size: 14px;
}


.right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: 25px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.user-name {
  font-size: 15px;
  color: rgb(121, 117, 117);
  border-left: 1px solid #e1d8d8;
  padding-left: 20px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #2563eb;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
}
