<mat-nav-list class="sidebar">

      <p class="item" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Painel</span>
      </p>

      <p class="item" routerLink="/tickets">
        <mat-icon>confirmation_number</mat-icon>
        <span>Ingressos</span>
      </p>

      <p class="item" routerLink="/tickets/new">
        <mat-icon>add_circle</mat-icon>
        <span>Abrir Chamado</span>
      </p>

      <p class="item" routerLink="/knowledge-base">
        <mat-icon>menu_book</mat-icon>
        <span>Base de Conhecimento</span>
      </p>
    
</mat-nav-list>
