<mat-nav-list class="sidebar">

      <p class="item" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon class="material-icons-outlined" >dashboard</mat-icon>
        <span>Painel</span>
      </p>

      <p class="item" routerLink="/tickets">
        <mat-icon class="material-icons-outlined" >confirmation_number</mat-icon>
        <span>Ingressos</span>
      </p>

      <p class="item" routerLink="/open-tickets">
        <mat-icon class="material-icons-outlined" >add</mat-icon>
        <span>Abrir Chamado</span>
      </p>

      <p class="item" routerLink="/knowledge-base">
        <mat-icon class="material-icons-outlined" >library_books</mat-icon>
        <span>Base de Conhecimento</span>
      </p>
    
</mat-nav-list>
