.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* abaixo do header */
.layout-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* sidebar */
.sidebar {
  width: 290px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
}

/* conteúdo */
.content {
  flex: 1;
  padding-top: 90px;
  background: #f9fafb;
  overflow: auto;
}
