.container {
  margin-left: 30px;
  margin-right: 5px;
  height: 1000px;
}
.page-title {
    font-size: 18px;
    margin-bottom: 15px;
    
  }
  
.page-subtitle {
    color: #6b7280;
    margin-bottom: 24px;
    font-size: 15px;
  }

.cards {
  display: flex;
  gap: 16px;
}

