<div class="container">
  
  <p class="page-title">Painel</p>
  
  <p class="page-subtitle">
    Visão geral do sistema de helpdesk
  </p>
  
  <div class="cards">
    <app-status-card title="Ingressos Abertos" value="1" icon="report" > </app-status-card>
    <app-status-card title="Em Andamento" value="3" icon="schedule" > </app-status-card>
    <app-status-card title="Resolvidos" value="2" icon="check_circle"> </app-status-card>
    <app-status-card title="Atrasados" value="1" icon="cancel"> </app-status-card>
  
  </div>

</div>
